<div *ngIf="type=='1'" class="login-success-container">
    <div class="login-success-content">
      <i class="fas fa-check-circle success-icon"></i>
      <h2>You are successfully logged in</h2>
      <p>We are working on your dashboard.</p>
      <p>Coming soon!</p>
    </div>
  </div>
  <div *ngIf="type=='2'" class="submission-success-container">
    <div class="submission-success-content">
      <i class="fas fa-check-circle success-icon"></i>
      <h2>Application successfully submitted</h2>
      <p>Please check your email and activate your account.</p>
      <p>If you have already verified your account, please ignore this message.</p>
    </div>
  </div>